$black: #000410;
$black-80: #000410cc;
$black-60: #00041099;
$black-25: #00041040;
$black-15: #00041026;

$red: #e74f4f;
$yellow: #e7aa4f;

$white-first: #f4f5f9;
$white-second: #ffffff;

$green: #4fe77c;
$purple: #605eff;

$font-inter: "Inter", sans-serif;
$font-DM: "DM Sans", sans-serif;
