@import "../../../styles/variables";

.header__container {
  // position: relative;
  z-index: 999;

  .header__content {
    border-bottom: 1px solid $black-15;

    .header__wrapper {
      padding: 1rem 4rem;
      // position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
        position: relative;
        gap: 2rem;
        padding: 2rem 1rem 4rem;
      }

      .header__input__wrapper {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;

        height: 45px;
        max-width: 400px;
        width: 100%;
        border-radius: 6px;
        background: $white-second;
        border: 1px solid $black-25;

        .heder__button__busca {
          width: 100%;
          height: 100%;
          padding: 0 0.5rem;

          font-family: $font-DM;
          border-radius: inherit;
        }

        a {
          display: flex;
          cursor: pointer;
        }
      }

      .header__buttons {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
          cursor: pointer;
        }

        .header__button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          border: unset;
          width: unset;
          padding: 16px 24px;
          transition: background-color 0.3s ease-in-out;
          background-color: $green;
          color: $black-80;

          &:hover {
            background-color: #4ad874;
          }
        }
      }
    }
  }
}

.vagas__section {
  .vagas__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    .descricao__container {
      margin-bottom: 6px;
      margin-left: 1rem;
      font-weight: 400;
      font-size: 16px;
      display: block;
      color: $black-60;
    }

    .vagas__content {
      background-color: $white-second;
      color: $black-60;
      border: 1px solid $black-15;
      border-radius: 6px;

      width: 1200px;
      height: 660px;
      margin-left: auto;
      margin-right: auto;

      display: flex;

      .menu__content {
        max-width: 325px;
        min-width: 325px;
        overflow: auto;
        width: 325px;
        height: 100%;
        border-right: 1px solid $black-15;

        &::-webkit-scrollbar {
          width: 0.6rem;
          background-color: $white-second;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $purple;
          // border-radius: 4rem;
        }

        .item__menu {
          border-bottom: 1px solid $black-15;
          transition: background 0.2s ease;

          &:hover {
            cursor: pointer;
            background: $white-first;
          }

          &.active {
            background-color: $purple;

            .item__wrapper .empresa__estrela .empresa {
              color: $white-first;
            }

            .item__wrapper .vaga {
              color: $white-second;
            }
            
            .item__wrapper .cidade__data {
              color: $white-first;
            }
          }

          .item__wrapper {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 6px;

            .empresa__estrela {
              .empresa {
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;

                color: $black-60;
              }
            }

            .vaga {
              font-weight: 500;
              font-size: 18px;
              line-height: 130%;

              color: $black-80;
            }

            .cidade__data {
              display: flex;
              align-items: center;
              justify-content: space-between;

              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: $black-60;

              .cidade {
                width: 50%;
              }

              .data {
                width: 50%;
                text-align: end;
              }
            }
          }
        }
      }

      .opened__vaga__content {
        width: -webkit-fill-available;
        padding: 1rem;

        .opened__vaga__wrapper {
          .vaga__title__content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .title__content__text {
              h2 {
                font-family: $font-inter;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 130%;
                margin-bottom: 1rem;
                color: $black-80;
              }

              .text__city {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 0.5rem;
              }

              .text__salary {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                span {
                  font-weight: 500;
                  color: $black-80;
                }
              }
            }

            .title__content__data {
              text-align: end;

              .data__buttons {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 0.5rem;

                .favoritar__button {
                  background-color: inherit;
                }

                .candidatar__button {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  font-weight: 500;
                  font-size: 16px;
                  border: unset;
                  width: unset;
                  padding: 12px 16px;
                  transition: background-color 0.3s ease-in-out;
                  background-color: $green;
                  color: $black-80;

                  &:hover {
                    background-color: #4ad874;
                  }
                }
              }

              span {
                font-size: 14px;
              }
            }
          }

          .vaga__body__content {
            margin-top: 2rem;
            h4 {
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              color: $black-80;
              margin-bottom: 0.5rem;
            }

            .content__resume {
              margin-bottom: 2rem;

              p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.25;
                color: $black-60;
              }
            }

            .content__requisitos {
              ul {
                display: flex;
                gap: 0.5rem;
                // list-style: circle;

                li {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 1.25;
                  color: $black-60;
                }
              }
            }
          }
        }
      }
    }
  }
}
